@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    color: #fff;
}
.bg-main {
    position: relative;
    background: #230C33;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16);
}

.bg-color {
    background: #230C33;
    color: #ffffff14;
}
.input-bg {
    border-radius: 16px;
    background: var(--60-opacity, #ffffff14);
}
.placeholder-grey::placeholder {
    color: rgba(255, 255, 255, 0.50);
    font-size: 18px;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.nft-banner {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 4)), url(../app/assets/images/bgnft.png);
    position: relative;
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }